#toolbar{
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 17px;
    width:100%;
    display: flex;
    align-items: center;
    
    background: rgb(32,32,32);
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index:2;
  }

  



#logo{
  
    background-color: rgb(32,32,32);
    color: whitesmoke;
  }
  #button{
    border: none;
    background-color: rgb(32,32,32);
    margin-top: 25px;
    margin-right:20px ;
  }
  #button :hover,
  #logo:hover {
    
    color: #17cf97;
    
  }
  #space{
    background-color: #4e4848;
    color:#4e4848;
    margin-top: 2px;
    margin-right:20px ;
  }
  